<header id="header">
    <div class="center">
        <!-- Logo -->
        <div id="logo">
            <img src="assets/images/angular.svg" class="app-logo" alt="Angular Logo" />
            <span id="brand">
                <strong>Testing</strong> Angular
            </span>
        </div>
        
        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink] = "['/home']">Home</a>
                </li>
                <li>
                    <a [routerLink] = "['/blog']">Blog</a>
                </li>
                <li>
                    <a [routerLink] = "['/form']">Form</a>
                </li>
                <li>
                    <a [routerLink] = "['/page']">Page</a>
                </li>
            </ul>
        </nav>

        <!-- Clear floated elements -->
        <div class="clearfix"></div>
    </div>
</header>