<div class="center">

    <section id="content">

        <h1 class="subheader">Create Article</h1>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="sendCreateArticleForm();">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />
                <small *ngIf="!title.valid && title.touched">Title is not valid.</small>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
                <small *ngIf="!content.valid && content.touched">Content is not valid.</small>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" name="file0" />
            </div>

            <h3 *ngIf="status == 'success'">Article created.</h3>
            <h3 *ngIf="status == 'error'">An error ocurred.</h3>

            <div class="clearfix"></div>

            <input type="submit" value="Save" class="btn btn-success" [disabled]="articleForm.invalid" />

        </form>

    </section>

    <app-sidebar></app-sidebar>

</div>