<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>You can do this</h3>
        <a [routerLink]="['/blog/create-article']" class="btn btn-success">Create article</a>
    </div>

    <div id="search" class="sidebar-item">
        <h3>Search</h3>
        <p>Find articles</p>
        <form #searchForm="ngForm" (ngSubmit)="searchArticles()">
            <input type="text" name="search" [(ngModel)]="searchStr" />
            <input type="submit" name="submit" value="Search" class="btn" />
        </form>
    </div>
</aside>

<div class="clearfix"></div>