<app-slider [title]="'Movies page'"></app-slider>

<div class="center">

    <section id="content">

        <div id="featured" *ngIf="featuredMovie.title != ''">
            <h2 class="subheader">Featured movie</h2>
            <h4>{{featuredMovie.title}}</h4>
            <h5>{{featuredMovie.year}}</h5>
        </div>
        
        <h1 class="subheader">Movie list</h1>

        <app-movie
            *ngFor="let movie of movies; let i = index;"
            [movie]="movie"
            [movieIndex]="i"
            (outputMarkMovieAsFeatured)="showMovieAsFeatured($event)"
        ></app-movie>
        
    </section>

    <app-sidebar></app-sidebar>

</div>