<h2 class="subheader">Movie list</h2>

<div id="articlea" *ngIf="movies">

    <article class="article-item" *ngFor="let movie of movies; let i = index;">

        <div class="image-wrap">
            <img src="{{movie.image}}" alt="{{movie.title}}" />
        </div>

        <h2>{{i}} - {{movie.title}}</h2>

        <span class="year" [ngClass]="{'year-green': movie.year > 2016, 'year-red': movie.year <= 2016}">{{movie.year}}</span>

        <a href="#">View more</a>

        <div class="clearfix"></div>

    </article>

</div>