<app-slider [title]="'Form page'"></app-slider>

<div class="center">

    <section id="content">

        <h1 class="subheader">Form page</h1>

        <form class="mid-form" #userForm="ngForm" (ngSubmit)="sendUserForm();">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+" />
                <small *ngIf="!name.valid && name.touched">Name is not valid.</small>
            </div>

            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required />
                <small *ngIf="!lastName.valid && lastName.touched">Last name is not valid.</small>
            </div>

            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
                <small *ngIf="!bio.valid && bio.touched">Bio is not valid.</small>
            </div>

            <div class="form-group radibuttons">
                <input type="radio" name="gender" value="male" #gender="ngModel" [(ngModel)]="user.gender" required /> Male 
                <input type="radio" name="gender" value="female" #gender="ngModel" [(ngModel)]="user.gender" /> Female 
                <input type="radio" name="gender" value="other" #gender="ngModel" [(ngModel)]="user.gender" /> Other
                <small *ngIf="!gender.valid && gender.touched">Gender is not valid.</small>
            </div>

            <div class="clearfix"></div>

            <input type="submit" value="Send" class="btn btn-success" [disabled]="userForm.invalid" />

            <h2 class="subheader">Events</h2>
            <button (click)="buttonClicked()">Click</button>
            <input type="text" [(ngModel)]="comment" (blur)="leftCommentField()" (keyup.enter)="enterPressed()" />
            {{comment}}

        </form>

    </section>

    <app-sidebar></app-sidebar>

</div>